<!DOCTYPE html>
<html>
    <head>
      <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>
            Comparing Programming Languages on StackOverFlow
        </h1>
        <main>
            
            <input type="text" id="search" class="gsc-input-box">            
           
            <script async src="https://cse.google.com/cse.js?cx=2325fc50983544745">
            </script>
           <!-- --> 
         <div class="gcse-search"></div>
            

        </main>

    </body>
</html>

<!-- https://jinja.palletsprojects.com/templates/ for fleshing this out more can do ifs and stuff -->